aiodns==2.0.0
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.3
bscscan-python==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
idna==2.10
multidict==5.1.0
numpy==1.20.0
pandas==1.2.1
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.1.0
